@model AbankingMicroERP.Models.Language
@{
	ViewData["Title"] = "Добавление языка";
}
<script>
	$(function () {
		var availableTags = [
			"ActionScript",
			"BASIC",
			"C",
			"C++",
			"C#",
			"Clojure",
			"COBOL",
			"ColdFusion",
			"Delpi",
			"Erlang",
			"Fortran",
			"F#",
			"Groovy",
			"Golang",
			"Haskell",
			"Java",
			"Kotlin",
			"JavaScript",
			"Lisp",
			"Perl",
			"PHP",
			"Python",
			"Ruby",
			"Rust",
			"Scala",
			"Swift"
		];
		$("#formName").autocomplete({
			source: availableTags
		});
	});

</script>
<div class="text-center">
	<h1 class="display-4">Добавление языка</h1>
</div>

<div class="card-body">

	<form asp-antiforgery="true" asp-action="Index" asp-controller="Add" style="margin-left: 25%; margin-right: 25%;">
		<div class="validation" asp-validation-summary="ModelOnly"></div>
		<div class="form-group">
			<label for="formName" asp-for="Name">Название языка</label>
			<input type="text" class="form-control" id="formName" name="Name" placeholder="Название языка" asp-for="Name" required>
			<span asp-validation-for="Name" />
		</div>
		<button type="submit" class="btn btn-primary mb-2">Добавить язык</button>
	</form>
</div>